absl-py==0.8.0
aiofiles==0.4.0
aiohttp==3.6.1
APScheduler==3.6.1
asn1crypto==1.0.1
astor==0.8.0
async-generator==1.10
async-timeout==3.0.1
attrs==19.2.0
backcall==0.1.0
bleach==3.1.0
blis==0.2.4
boto3==1.9.243
botocore==1.12.243
bz2file==0.98
cachetools==3.1.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==0.14.0
cryptography==2.7
cycler==0.10.0
cymem==2.0.2
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
dopamine-rl==2.0.5
en-core-web-md==2.1.0
en-core-web-sm==2.1.0
entrypoints==0.3
fbmessenger==6.0.0
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
gast==0.2.2
gevent==1.4.0
gin-config==0.2.1
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-pasta==0.1.7
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.24.1
gunicorn==19.9.0
gym==0.14.0
h5py==2.10.0
httplib2==0.14.0
httptools==0.0.13
humanfriendly==4.18
idna==2.8
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
jsonpickle==1.2
jsonschema==3.0.2
jupyter-client==5.3.3
jupyter-core==4.5.0
kafka-python==1.4.7
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kfac==0.2.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mattermostwrapper==2.1
mesh-tensorflow==0.0.5
mistune==0.8.4
mpmath==1.1.0
multidict==4.5.2
murmurhash==1.0.2
nb-conda-kernels==2.2.2
nbconvert==5.6.0
nbformat==4.4.0
nest-asyncio==1.2.0
networkx==2.3
notebook==6.0.1
numpy==1.17.2
oauth2client==4.1.3
opencv-python==4.1.1.26
packaging==19.2
pandocfilters==1.4.2
parso==0.5.1
pickleshare==0.7.5
pika==1.0.1
Pillow==6.2.0
plac==0.9.6
preshed==2.0.1
prometheus-client==0.7.1
promise==2.2.1
prompt-toolkit==2.0.10
protobuf==3.10.0
psutil==5.6.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
pydot==1.4.1
pyglet==1.3.2
Pygments==2.4.2
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.9.0
pyparsing==2.4.2
pypng==0.0.20
pyreadline==2.1
pyrsistent==0.15.4
PySocks==1.7.1
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-engineio==3.9.3
python-socketio==4.3.1
python-telegram-bot==11.1.0
pytz==2019.3
pywin32==223
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
questionary==1.3.0
rasa==1.3.7
rasa-sdk==1.3.3
redis==3.3.8
requests==2.22.0
requests-toolbelt==0.9.1
rocketchat-API==0.6.34
rsa==4.0
ruamel.yaml==0.15.100
s3transfer==0.2.1
sanic==19.3.1
Sanic-Cors==0.9.9.post3
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.8.2
scikit-learn==0.20.4
scipy==1.3.1
Send2Trash==1.5.0
simplejson==3.16.0
six==1.12.0
sklearn-crfsuite==0.3.6
slackclient==1.3.2
spacy==2.1.8
SQLAlchemy==1.3.9
srsly==0.1.0
sympy==1.4
tabulate==0.8.5
tensor2tensor==1.14.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-datasets==1.2.0
tensorflow-estimator==1.14.0
tensorflow-gan==1.0.0.dev0
tensorflow-metadata==0.14.0
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.8.2
terminaltables==3.1.0
testpath==0.4.2
thinc==7.0.8
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.2
twilio==6.31.1
tzlocal==2.0.0
uritemplate==3.0.0
urllib3==1.25.6
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
webexteamssdk==1.2
websocket-client==0.54.0
websockets==6.0
Werkzeug==0.16.0
wincertstore==0.2
wrapt==1.11.2
yarl==1.3.0
