*.pdf

.ipynb_checkpoints/

%% BACKUP/temporary files
nogit*
*~
z.*
z/
.#*#
.#*
#*#

%% LATEX
*.aux
*.dvi
*.log
*.out
*.toc
*.tdo
*.blg
*.bbl
*.snm
*.nav
*.ilg
*.ind
*.fdb_latexmk
_region_.*
*.synctex.gz
.DS_Store
comment.cut
*.idx
*.vrb
