# Virtual environment
venv/
.env/

# Environment variables
.env
*.env

# Python package files
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Cache and logs
*.log
*.cache/
*.pytest_cache/
coverage/
htmlcov/

# Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Ignore Python compiled files
*.pyo
*.pyd
