[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pycodestyle = "*"
generator = {git = "https://gitlab.ewi.tudelft.nl/weblab/generator-python.git"}

[requires]
python_version = "3.7"

[scripts]
all = "sh -c 'pipenv run codestyle && pipenv run generator && pipenv run tests'"
codestyle = "pycodestyle --exclude output,.venv ."
generator = "sh -c 'python -m generator analysis implementation'"
tests = "sh run-tests.sh"
